@tailwind base;
@tailwind components;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind utilities;

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .bill-container {
    width: 1200px; /* Fixed width */
    /* height: 1200px; */
    margin: 0 auto; /* Center the content */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: border for better visibility */
    box-sizing: border-box;
  }
  
  @media print {
    .bill-container {
      width: 1200px !important;
      /* height: 1200px !important; */
      max-width: 800px !important;
      margin: 0;
    }
  }
  
  